@model Geomarketing.UI.Models.ApplicationRole

@{
    ViewBag.Title = "Eliminar";
}

<h2>Delete.</h2>

<h3>Seguro que quieres borrar este Rol? </h3>
<p>La eliminación de este Rol elimina a todos los usuarios relacionados a el. No se eliminarán los usuarios.</p>
<div>
    <h4>Eliminar Rol.</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar", "Index")
        </div>
    }
</div>
